html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}

li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* colors */
/* Fonts */
/* Padding and margins */
/* Borders */
/*Media*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
}

.hidden {
  display: none;
}

/* components*/
#search {
  background-color: #2e9cca;
  color: #ffffff;
  padding: 0.45rem 1.25rem;
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
  cursor: pointer;
}

.win,
.failure {
  padding: 1rem 1.5rem;
  margin: 20px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.win {
  background: #2e9cca;
}

.failure {
  background: #fe7f9c;
  color: #25274d;
}

.helpBtn {
  background: #2e9cca;
  color: white;
  padding: 0.75rem 1.75rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  margin: auto;
}

a {
  color: #ffffff;
}

.word-definition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  line-height: 1.5;
  letter-spacing: 1px;
}
.word-definition .definitions {
  list-style: none;
  counter-reset: li;
  padding-left: 2rem;
}
.word-definition li {
  counter-increment: li;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.word-definition li::before {
  content: counter(li);
  border-radius: 50%;
  padding: 10px;
  height: 0.9rem;
  width: 0.9rem;
  text-align: center;
  background-color: #2e9cca;
  color: #ffffff;
  display: inline-block;
  position: absolute;
  font-weight: bold;
  font-size: 1.5rem;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: calc(var(--size) - 0.9rem);
  top: 0;
}
.word-definition li {
  padding: 0 2rem 2rem 1rem;
}

.definition, .words {
  letter-spacing: 1px;
}

#word-def {
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.definitions {
  padding-top: 1.5rem;
}

.good {
  color: #ffffff;
}

.bad {
  color: #fe7f9c;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 90%;
  border-radius: 5px;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 768px) {
  section {
    min-width: 650px;
    min-height: 75%;
    max-width: 90%;
  }
}
@media screen and (min-width: 960px) {
  section {
    min-width: 850px;
  }
}
@media screen and (min-width: 1500px) {
  section {
    max-width: 1000px;
  }
}
section .upper {
  background-color: #25274d;
  color: #ffffff;
  border-radius: 5px;
  line-height: 2;
  max-width: 85%;
  padding: 2rem 3.5rem;
}
section .upper .definitions {
  list-style: none;
  counter-reset: li;
  padding-left: 2rem;
}
section .upper li {
  counter-increment: li;
  margin: 0 0 0.5rem 0;
  position: relative;
}
section .upper li::before {
  content: counter(li);
  border-radius: 50%;
  padding: 10px;
  height: 0.9rem;
  width: 0.9rem;
  text-align: center;
  background-color: #2e9cca;
  color: #ffffff;
  display: inline-block;
  position: absolute;
  font-weight: bold;
  font-size: 1.5rem;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: calc(var(--size) - 0.9rem);
  top: 0;
}
section .words {
  margin-top: 5%;
  text-align: center;
  width: 250px;
  min-height: 60px;
}
section .wordsItem,
section .win {
  padding: 1rem 1.5rem;
  margin: 20px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
section .win {
  background-color: #2e9cca;
}
section .wordsItem {
  background-color: #25274d;
}

.modalBg {
  width: 250px;
  height: 350px;
  position: absolute;
  top: 90px;
  background: #2e9cca;
  color: white;
  bottom: 80px;
  right: 10px;
  padding: 1.5rem;
  border: 8px solid #25274d;
  border-radius: 5px;
}
.modalBg .game-desc {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.75rem;
}
.modalBg .help-desc {
  padding-top: 1rem;
  font-size: 1.15rem;
}

.modalBgErr {
  width: 250px;
  height: 350px;
  position: absolute;
  top: 90px;
  background: #2e9cca;
  color: white;
  bottom: 80px;
  left: 10px;
  padding: 1.5rem;
  border: 8px solid #25274d;
  border-radius: 5px;
}
.modalBgErr .err {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.75rem;
}
.modalBgErr .content {
  padding-top: 1rem;
  font-size: 1.15rem;
}

.dictionary {
  background-color: #25274d;
  color: #ffffff;
  display: grid;
  grid-template-rows: 1fr 3fr;
  margin: 5% auto;
}
@media screen and (min-width: 768px) {
  .dictionary {
    margin: 5%;
  }
}
@media screen and (min-width: 960px) {
  .dictionary {
    margin: 5% 10%;
  }
}
.dictionary .word-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  padding: 1% 5%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .dictionary .word-form {
    max-width: 100%;
  }
}
#dict-form {
  display: flex;
  flex-direction: row;
  margin: 1rem auto 2rem;
}
#dict-form input[type=text] {
  line-height: 2;
  padding: 0.5rem 0.75rem 2px;
  outline: none;
  border: none;
  border-bottom: 5px solid transparent;
  border-radius: 5px 0 0 5px;
}
#dict-form input[type=text]:hover {
  border-bottom: 5px solid #2e9cca;
}

/* sections */
.page__header {
  background: #25274d;
  width: 100%;
  height: 60px;
  line-height: 60px;
  grid-area: header;
  grid-row: 1/2;
}
.page__header .nav__item {
  font-family: "Montserrat", sans-serif;
}
.page__header .app-name {
  font-size: 1.15rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
}
.page__header .navbar__menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 767.99px) {
  .page__header .navbar__menu {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .page__header .navbar__menu .nav__item {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .page__header .navbar__menu .app-name {
    font-size: 1.5rem;
  }
}

.page__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: main;
  grid-row: 2/3;
  background-image: url(../images/blur-book.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.footer__authors {
  height: 60px;
  margin-bottom: 0;
  text-align: center;
  background-color: #25274d;
  line-height: 60px;
  grid-area: footer;
  grid-row: 3/4;
}
.footer__authors .description__text {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}
.footer__authors span,
.footer__authors a {
  color: #fe7f9c;
  letter-spacing: 1px;
}

/*# sourceMappingURL=style.css.map */
