@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // @media screen and (min-width: $min-md) {
  //   flex-direction: row;
  // }
}

@mixin box {
  background-color: $bg-darkblue;
  color: $bg-white;
  border-radius: 5px;
  line-height: 2;
  max-width: 85%;
}

@mixin bullets {
  .definitions {
    list-style: none;
    counter-reset: li;
    padding-left: 2rem;
  }

  li {
    counter-increment: li;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  li::before {
    content: counter(li);
    border-radius: 50%;
    padding: 10px;
    height: 0.9rem;
    width: 0.9rem;
    text-align: center;
    background-color: $main-blue;
    color: $bg-white;
    display: inline-block;
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: calc(var(--size) - 0.9rem);
    top: 0;
  }
}
