@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // @media screen and (min-width: $min-md) {
  //   flex-direction: row;
  // }
}

@mixin box {
  background-color: $bg-darkblue;
  color: $bg-white;
  border-radius: 5px;
  line-height: 2;
}
