/* colors */
$bg-white: #ffffff;
$bg-darkblue: #25274d;
$main-blue: #2e9cca;
$second-blue: #29648a;
$dark-gray: #464866;
$light-grey: #aaabbb;
$success-color: #66cc33;
$error-color: #fe7f9c;

/* Fonts */
$main-font: "Raleway", sans-serif;
$title-font: "Montserrat", sans-serif;

/* Padding and margins */

/* Borders */

/*Media*/
$max-xs: 575.99px;

$min-sm: 576px;
$max-sm: 767.99px;

$min-md: 768px;

$min-lg: 960px;

$min-xl: 1200px;

$min-xxl: 1500px;
