#search {
  background-color: $main-blue;
  color: $bg-white;
  padding: 0.45rem 1.25rem;
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
  cursor: pointer;
}

.win,
.failure  {
    padding: 1rem 1.5rem;
    margin: 20px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    
  }
.win {
  background: $main-blue;
}
.failure {
  background: $error-color;
  color: $bg-darkblue;
}

.helpBtn {    
    background: $main-blue;
    color: white;
    padding: 0.75rem 1.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;   
    letter-spacing: 1px;   
    margin: auto;
  }
