#search {
  background-color: $main-blue;
  color: $bg-white;
  padding: 0.45rem 1rem;
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
  cursor: pointer;
}

.win,
.failure {
  padding: 1rem 1.5rem;
  margin: 20px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.win {
  background: $main-blue;
}
.failure {
  background: $error-color;
  color: $bg-darkblue;
}

.helpBtn {
  background: $main-blue;
  color: white;
  padding: 0.75rem 1.75rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  margin: auto;
}

.closeBtn {
  position: absolute;
  background: $main-blue;
  border: none;
  outline: none;
  font-weight: bolder;
  font-size: 1.15rem;
  
  letter-spacing: 3px;
  right: 0;
  top: 0;
  cursor: pointer;
}
.closeBtn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.reload {
  background: $main-blue;
  color: white;
  padding: 0.75rem 1.75rem;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  margin: auto;
}
