section {
  @include flex-column;
  justify-content: center;
  min-width: 320px;
  min-height: 100%;
  border-radius: 5px;
  padding: 5% 0;

  background-color: $bg-white;

  @media screen and (min-width: $min-md) {
    min-width: 650px;
    min-height: 75%;
  }

  @media screen and (min-width: $min-lg) {
    min-width: 850px;
  }

  @media screen and (min-width: $min-xl) {
  }

  @media screen and (min-width: $min-xxl) {
    max-width: 1000px;
  }
  .upper {
    @include box;
    padding: 2rem 3.5rem;
    @include bullets;
  }
  .words {
    @include box;
    padding: 1rem 3.5rem;
    margin-top: 5%;
    text-align: center;
  }
}

.dictionary {
  background-color: $bg-darkblue;
  color: $bg-white;
  display: grid;
  grid-template-rows: 1fr 3fr;
  margin: 5% 0;
  // justify-content: center;
  // align-items: center;
  @media screen and (min-width: $min-md) {
    margin: 5%;
    padding: 7%;
  }

  @media screen and (min-width: $min-lg) {
    margin: 5% 10%;
  }

  @media screen and (min-width: $min-xl) {
  }

  @media screen and (min-width: $min-xxl) {
  }

  .word-form {
    @include flex-column;
    max-width: 360px;
    padding: 1% 5%;
    @media screen and (min-width: $min-md) {
      max-width: 100%;
    }

    @media screen and (min-width: $min-lg) {
    }

    @media screen and (min-width: $min-xl) {
    }

    @media screen and (min-width: $min-xxl) {
    }
  }
}
