section {
  @include flex-column;
  justify-content: center;
  min-width: 320px;
  min-height: 100%;
  border-radius: 5px;
  padding: 5% 0;

  background-color: $bg-white;

  @media screen and (min-width: $min-md) {
    min-width: 650px;
    min-height: 75%;
  }

  @media screen and (min-width: $min-lg) {
    min-width: 850px;
  }

  @media screen and (min-width: $min-xl) {
  }

  @media screen and (min-width: $min-xxl) {
    max-width: 1000px;
  }
  .upper {
    @include box;
    padding: 2rem 3.5rem;
    @include bullets;
  }
  .words {
    margin-top: 5%;
    text-align: center;
    width: 250px;
    min-height: 60px;
  }
  .wordsItem,
  .win {
    padding: 1rem 1.5rem;
    margin: 20px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }

  .win {
    background-color: #2e9cca;
  }

  .wordsItem {
    background-color: $bg-darkblue;
  }
}

.dictionary {
  background-color: $bg-darkblue;
  color: $bg-white;
  display: grid;
  grid-template-rows: 1fr 3fr;
  margin: 5% auto;

  @media screen and (min-width: $min-md) {
    margin: 5%;
  }

  @media screen and (min-width: $min-lg) {
    margin: 5% 10%;
  }

  @media screen and (min-width: $min-xl) {
  }

  @media screen and (min-width: $min-xxl) {
  }

  .word-form {
    @include flex-column;
    max-width: 350px;
    padding: 1% 5%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    @media screen and (min-width: $min-md) {
      max-width: 100%;
    }

    @media screen and (min-width: $min-lg) {
    }

    @media screen and (min-width: $min-xl) {
    }

    @media screen and (min-width: $min-xxl) {
    }
  }
}
