#dict-form {
  display: flex;
  flex-direction: row;
  margin: 1rem 4rem 2rem;

  input[type="text"] {
    line-height: 2;
    padding: 0.5rem 0.75rem 2px;
    outline: none;
    border: none;
    border-bottom: 5px solid transparent;
    border-radius: 5px 0 0 5px;

    &:hover {
      border-bottom: 5px solid $main-blue;
    }
  }
}
