a {
  color: $bg-white;
}
.word-definition {
  @include bullets;
  @include flex-column;
  padding: 5%;
  line-height: 1.5;
  letter-spacing: 1px;
  li {
    padding: 0 2rem 2rem 1rem;
  }
}
.definition,.words {
  letter-spacing: 1px;
}

#word-def {
  letter-spacing: 2px;
  font-size: 1.5rem;
}
.definitions {
  padding-top: 1.5rem;
}

.good {
  color: $bg-white;
}
.bad {
  color: $error-color;
}